{% extends 'base.html' %}


{% block content %}

        <div class="container">
        <header class="d-flex justify-content-center py-3 ">
          <ul class="nav nav-pills">
            <li class="nav-item px-3"><a href="/register-form/">регистрация</a></li>
            <li class="nav-item px-3"><a href="/login-form/">вход</a></li>
            <li class="nav-item px-3"><a href="/logout/">выход</a></li>

          </ul>
        </header>
      </div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams_data %}
        <tr>
          <td>{{ team.id }}</td>
          <td>{{ team.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock %}
