{% extends 'base.html' %}


{% block content %}

<h3>Задачи пользователя "{{ current_user.email }}'</h3>
<h4>Средняя оценка "{{ average_grade }}"</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>status</th>
        <th>dedline</th>
        <th>description</th>
        <th>job_evaluation</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks_user %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.dedline }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.job_evaluation }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
